/* VARIABLES DE COLOR */
:root {
    --color-principal: #c0392b;
    --color-secundario: #e74c3c;
    --color-fondo: #fdf6f0;
    --color-texto: #333;
}

/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: var(--color-principal);
}

header .logo img {
    height: 100px;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a.activo {
    border-bottom: 2px solid white;
}

nav ul li a:hover {
    color: var(--color-secundario);
}



/* SECCIÓN PRINCIPAL */

.texto {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}

.imagen {
   
    display: flex;
    justify-content: center;
    width: 50;
    height: 10;
}



/* TARJETAS */
.tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 40px;
}
.tarjeta {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px red;
    width: 250px;
    text-align: center;
    padding: 50px;
    transition: transform 0.35;
}
.tarjeta:hover {
    transform: scale(1.05)
}
.tarjeta img {
    width: 100%;
    border-radius: 10px;
}
/* PIE DE PÁGINA */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: var(--color-principal);
    color: white;
    flex-wrap: wrap;
    gap: 20px;
}

footer .redes a {
    margin-left: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

footer .redes a:hover {
    color: black(--color-principal);
}

/* FORMULARIO */
.formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px;
}

.formulario input,
.formulario textarea,
.formulario button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.formulario button {
    background-color: var(--color-principal);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.formulario button:hover {
    background-color: var(--color-secundario);
}

/* RESPONSIVE */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}
body {
    background-color: lightblue;
}


